﻿@model IEnumerable<PhraseBookServices.Models.TopicViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h2>Manage Category</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Category</a></li>
        <li class="active">Index</li>
    </ol>
</div>

<script language="javascript" type="text/javascript">
     $(document).ready(function () {
          $("#NotificationBox").fadeIn(5000);
          $("#NotificationBox").delay(3000).fadeOut(1000);

     });
</script>
@if (TempData["save"] != null)
{
    <div class="container" id="NotificationBox">
        <div class="col-md-3"></div>
        <div class="alert alert-success alert-white rounded col-md-6 ">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <div class="icon"><i class="fa fa-check"></i></div>
           
            @if (TempData["save"].ToString() == "1")
            {
                <strong>Saved</strong><span> Changes has been saved successfully!</span>
            }
            @if (TempData["save"].ToString() == "2")
            {
                <strong>Update!</strong><span> Changes has been updated successfully!</span>
            }
            @if (TempData["save"].ToString() == "4")
            {
                <strong>User not logged in!</strong>
            }
           
        </div>
        <div class="col-md-3"></div>
    </div>
}
<div class="col-sm-12 col-md-12" style="margin-top:5px;">
    <div class="block-flat">
        <div class="header">
            @if (TempData["Id"] == null)
            {
                <h3>Add New Category</h3>
            }
            else
            {
                <h3>Update Category</h3>
            }
            
        </div>
        <div class="content">
            <form class="form-horizontal" action="~/Phrase/SaveTopic" role="form" method="post">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control hidden" name="Id" value="@TempData["Id"]">
                        <input type="text" class="form-control" name="Name" value="@TempData["Name"] ">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="Description">@TempData["Description"] </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @if (TempData["Id"] == null)
                        { <button type="submit" class="btn btn-primary">Add</button>
                        }
                        else
                        {<button type="submit" class="btn btn-primary">Update</button>

                        }

                        <button class="btn btn-default">Cancel</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
