﻿@model PhraseBookServices.Models.PhraseViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-head">
    <h2>Manage Phrase</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Phrase</a></li>
        <li class="active">Index</li>
    </ol>
</div>

<div class="col-sm-12 col-md-12" style="margin-top:5px;">
    <div class="block-flat">
        <div class="header">
            <h3>Add Phrase</h3>
        </div>
        <div class="content">
            <form class="form-horizontal" action="~/Phrase/SavePhrase" method="post">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Phrase Category</label>
                    <div class="col-sm-6">
                        <select class="select2" multiple name="selectedTopics">
                            @foreach (var item in (List<PhraseBookServices.DataAccess.EntityLayer.Topic>)ViewBag.Topics)
                            {
                                var selected = "";
                                if (ViewBag.SelectedTopics != null)
                                {
                                    foreach (var SelectedTopics in (List<PhraseBookServices.DataAccess.EntityLayer.Topic>)ViewBag.SelectedTopics)
                                    {
                                        if (item.Id == SelectedTopics.Id)
                                        {
                                            selected = "selected";
                                        }
                                    }
                                }

                                <option value="@item.Id" @selected>@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Phrase in English</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control hidden" name="Id" value="@Model.Id">
                        <input type="text" class="form-control" name="PhareText" value="@Model.PhareText">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Phrase in Gorsky</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="PhareSubText" value="@Model.PhareSubText">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-right:1px;">
                        <label>Translation in English:</label> <input type="text" name="TranslationEnglish" value="@Model.TranslationEnglish" placeholder="Enter Translation in English" class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Transliteration English: </label> <input type="text" name="TransliterationEnglish" value="@Model.TransliterationEnglish" placeholder="Enter Transliteration English" class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-right:1px;">
                        <label>Translation in Russian:</label> <input type="text" name="TranslationRussian" value="@Model.TranslationRussian" placeholder="Enter Translation in Russian" class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Transliteration Russian:</label> <input type="text" name="TransliterationRussian" value="@Model.TransliterationRussian" placeholder="Enter Transliteration Russian" class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-right:1px;">
                        <label>Translation Hebrew: </label> <input type="text" name="TranslationHebrew" value="@Model.TranslationHebrew" placeholder="Enter Translation Hebrew" class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Transliteration Hebrew: </label> <input type="text" name="TransliterationHebrew" value="@Model.TransliterationHebrew" placeholder="Enter Transliteration Hebrew" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @if (TempData["Id"] == null)
                        { <button type="submit" class="btn btn-primary">Add</button>
                        }
                        else
                        {<button type="submit" class="btn btn-primary">Update</button>

                        }

                        <button class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


<div class="cl-mcont">

    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Phrases List</h3>
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="datatable">
                            <thead>
                                <tr>

                                    <th width="30%">@Html.DisplayNameFor(model => model.PhareText)</th>
                                    <th width="40%">@Html.DisplayNameFor(model => model.selectedTopics)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="media hidden">
    <a class="pull-left" href="#">
        <img class="media-object" style="max-width:50px;">
    </a>
    <div class="media-body">
        <label class="media-heading">Media heading</label>
        <span style="display:block"></span>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/jquery.datatables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.datatables/bootstrap-adapter/js/datatables.js"></script>


    <script src="~/js/jquery.dataTables.yadcf.js"></script>
    <script src="~/js/PhraseInit.js"></script>


}


