﻿@model PhraseBookServices.Models.PhraseViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h2>Manage Phrase</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Phrase</a></li>
        <li class="active">Index</li>
    </ol>
</div>
<script language="javascript" type="text/javascript">
     $(document).ready(function () {
          $("#NotificationBox").fadeIn(5000);
          $("#NotificationBox").delay(3000).fadeOut(1000);

     });
</script>
@if (TempData["save"] != null)
{
    <div class="container" id="NotificationBox">
        <div class="col-md-3"></div>
        <div class="alert alert-success alert-white rounded col-md-6 ">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <div class="icon"><i class="fa fa-check"></i></div>
            @if (@TempData["save"].ToString() == "0")
            {
                <strong>Delete!</strong> <span>Data deleted successfully!</span>
            }
            @if (TempData["save"].ToString() == "1")
            {
                <strong>Save!</strong><span> Changes has been saved successfully!</span>
            }
            @if (TempData["save"].ToString() == "2")
            {
                <strong>Update!</strong><span> Changes has been updated successfully!</span>
            }
            @if (TempData["save"].ToString() == "4")
            {
                <strong>User not logged in!</strong>
            }
           
        </div>
        <div class="col-md-3"></div>
    </div>
}

<div class="col-sm-12 col-md-12" style="margin-top:5px;">
    <div class="block-flat">
        <div class="header">
            @if (TempData["Id"] == null)
            {
                <h3>Add Phrase</h3>
            }
            else
            {
            <h3>Update Phrase</h3>
            }
            
        </div>
        <div class="content">
            <form class="form-horizontal" action="~/Phrase/SavePhrase" method="post">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Phrase Category</label>
                    <div class="col-sm-6">
                        <select class="select2" multiple name="selectedTopics">
                            @foreach (var item in (List<PhraseBookServices.DataAccess.EntityLayer.Topic>)ViewBag.Topics)
                            {
                                var selected = "";
                                if (ViewBag.SelectedTopics != null)
                                {
                                    foreach (var SelectedTopics in (List<PhraseBookServices.DataAccess.EntityLayer.Topic>)ViewBag.SelectedTopics)
                                    {
                                        if (item.Id == SelectedTopics.Id)
                                        {
                                            selected = "selected";
                                        }
                                    }
                                }

                                <option value="@item.Id" @selected>@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Phrase in English</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control hidden" name="Id" value="@TempData["Id"]">
                        <input type="text" class="form-control" name="PhareText" value="@TempData["PhareText"]">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Phrase in Gorsky</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="PhareSubText" value="@TempData["PhareSubText"]">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-right:1px;">
                        <label>Translation in English:</label> <input type="text" name="TranslationEnglish" value="@TempData["TranslationEnglish"]" placeholder="Enter Translation in English" class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Transliteration English: </label> <input type="text" name="TransliterationEnglish" value="@TempData["TransliterationEnglish"]" placeholder="Enter Transliteration English" class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-right:1px;">
                        <label>Translation in Russian:</label> <input type="text" name="TranslationRussian" value="@TempData["TranslationRussian"]" placeholder="Enter Translation in Russian" class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Transliteration Russian:</label> <input type="text" name="TransliterationRussian" value="@TempData["TransliterationRussian"]" placeholder="Enter Transliteration Russian" class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-right:1px;">
                        <label>Translation Hebrew: </label> <input type="text" name="TranslationHebrew" value="@TempData["TranslationHebrew"]" placeholder="Enter Translation Hebrew" class="form-control">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Transliteration Hebrew: </label> <input type="text" name="TransliterationHebrew" value="@TempData["TransliterationHebrew"]" placeholder="Enter Transliteration Hebrew" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        @if (TempData["Id"] == null)
                        { <button type="submit" class="btn btn-primary">Add</button>
                        }
                        else
                        {<button type="submit" class="btn btn-primary">Update</button>

                        }

                        <button class="btn btn-default" type="reset">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


