﻿
@model IEnumerable<PhraseBookServices.Models.TopicViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <h2> Category List</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Category</a></li>
        <li class="active">Category List</li>
    </ol>
</div>

<script language="javascript" type="text/javascript">
     $(document).ready(function () {
          $("#NotificationBox").fadeIn(5000);
          $("#NotificationBox").delay(3000).fadeOut(1000);

     });
</script>
@if (TempData["save"] != null)
{
    <div class="container" id="NotificationBox">
        <div class="col-md-3"></div>
        <div class="alert alert-success alert-white rounded col-md-6 ">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <div class="icon"><i class="fa fa-check"></i></div>
            @if (@TempData["save"].ToString() == "0")
            {
                <strong>Delete!</strong> <div>Data deleted successfully!</div>
            }           
            @if (TempData["save"].ToString() == "4")
            {
                <strong>User not logged in!</strong>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
}

<div class="cl-mcont">

    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Categories</h3>
                </div>
                <div class="content">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="datatable">
                            <thead>
                                <tr>

                                    <th width="30%">@Html.DisplayNameFor(model => model.Name)</th>
                                    <th width="40%">@Html.DisplayNameFor(model => model.Description)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="media hidden">
    <a class="pull-left" href="#">
        <img class="media-object" style="max-width:50px;">
    </a>
    <div class="media-body">
        <label class="media-heading">Media heading</label>
        <span style="display:block"></span>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/jquery.datatables/jquery.datatables.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.datatables/bootstrap-adapter/js/datatables.js"></script>


    <script src="~/js/jquery.dataTables.yadcf.js"></script>
    <script src="~/js/TopicInit.js"></script>


}




