﻿
@using PhraseBookServices.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from condorthemes.com/cleanzone/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 04 Jan 2014 11:48:49 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Jewro Phrasebook</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="~/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/font-awesome-4/css/font-awesome.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body class="texture">
    <div id="cl-wrapper" class="login-container">
        <div class="middle-login">
            <div class="block-flat">
                <div class="header">
                    <h3 class="text-center"><img class="logo-img" src="~/images/logo.png" alt="logo" />Jewro Phrasebook</h3>
                </div>
                <div>
                   @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                   {
                    @Html.AntiForgeryToken()
                        <div class="content">
                            <h4 class="title">Login Access</h4>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                      
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                          @*<input type="text" placeholder="Username" name="" id="username" class="form-control">*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                                        @*<input type="password" placeholder="Password" id="password" class="form-control">*@
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="foot">
                            @*<button class="btn btn-default" data-dismiss="modal" type="button">Register</button>*@
                            <a href="~/Account/Register" class="btn btn-default" data-dismiss="modal" >Register</a>
                            <button class="btn btn-primary" data-dismiss="modal" type="submit">Log me in</button>
                        </div>
                   }
                </div>
            </div>
            <div class="text-center out-links"><a href="#">&copy; 2013 Jewro Phrasebook</a></div>
        </div>

    </div>
    <script src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/behaviour/general.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/behaviour/voice-commands.js"></script>
    <script src="~/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot/jquery.flot.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="~/js/jquery.flot/jquery.flot.labels.js"></script>
</body>
<!-- Mirrored from condorthemes.com/cleanzone/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 04 Jan 2014 11:48:49 GMT -->
</html>
