﻿


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from condorthemes.com/cleanzone/ by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 04 Jan 2014 11:44:29 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/images/favicon.png">
    <title>@ViewBag.Title -Jewro Phrasebook</title>
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
   
   
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="~/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/js/bootstrap.switch/bootstrap-switch.css" />
    <link rel="stylesheet" type="text/css" href="~/js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />

    <!-- Select2 -->
    <link rel="stylesheet" type="text/css" href="~/js/jquery.select2/select2.css" />


    <!-- Slider -->
    <link rel="stylesheet" type="text/css" href="~/js/bootstrap.slider/css/slider.css" />

    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/fonts/font-awesome-4/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/pygments.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/js/jquery.nanoscroller/nanoscroller.css" />
    <link href="~/js/jquery.icheck/skins/square/blue.css" rel="stylesheet">
    <link href="~/js/jquery.datatables/bootstrap-adapter/css/datatables.css" rel="stylesheet" />
</head>
<body >
    <!-- Fixed navbar -->
    <div id="head-nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-gear"></span>
                </button>
                <a class="navbar-brand" href="#"><span>Jewro Phrasebook</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")

                <ul class="nav navbar-nav navbar-right not-nav">
                    <li class="button dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class=" fa fa-comments"></i></a>
                        <ul class="dropdown-menu messages">
                            <li>
                                <div class="nano nscroller">
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <img src="~/images/avatar2.jpg" alt="avatar" /><span class="date pull-right">13 Sept.</span> <span class="name">Daniel</span> I'm following you, and I want your money!
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="~/images/avatar_50.jpg" alt="avatar" /><span class="date pull-right">20 Oct.</span><span class="name">Adam</span> is now following you
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="~/images/avatar4_50.jpg" alt="avatar" /><span class="date pull-right">2 Nov.</span><span class="name">Michael</span> is now following you
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="~/images/avatar3_50.jpg" alt="avatar" /><span class="date pull-right">2 Nov.</span><span class="name">Lucy</span> is now following you
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="foot"><li><a href="#">View all messages </a></li></ul>
                            </li>
                        </ul>
                    </li>
                    <li class="button dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i><span class="bubble">2</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="nano nscroller">
                                    <div class="content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-cloud-upload info"></i><b>Daniel</b> is now following you <span class="date">2 minutes ago.</span></a></li>
                                            <li><a href="#"><i class="fa fa-male success"></i> <b>Michael</b> is now following you <span class="date">15 minutes ago.</span></a></li>
                                            <li><a href="#"><i class="fa fa-bug warning"></i> <b>Mia</b> commented on post <span class="date">30 minutes ago.</span></a></li>
                                            <li><a href="#"><i class="fa fa-credit-card danger"></i> <b>Andrew</b> killed someone <span class="date">1 hour ago.</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="foot"><li><a href="#">View all activity </a></li></ul>
                            </li>
                        </ul>
                    </li>
                    <li class="button"><a href="javascript:;" class="speech-button"><i class="fa fa-microphone"></i></a></li>
                </ul>
            </div><!--/.nav-collapse animate-collapse -->
        </div>
    </div>
    <div id="cl-wrapper" class="fixed-menu">
        <div class="cl-sidebar" data-position="right" data-step="1" data-intro="<strong>Fixed Sidebar</strong> <br/> It adjust to your needs.">
            <div class="cl-toggle"><i class="fa fa-bars"></i></div>
            <div class="cl-navblock">
                <div class="menu-space">
                    <div class="content">
                        <div class="side-user">
                            <div class="avatar"><img src="~/images/avatar1_50.jpg" alt="Avatar" /></div>
                            <div class="info">
                                <a href="#">Jeff Hanneman</a>
                                <img src="~/images/state_online.png" alt="Status" /> <span>Online</span>
                            </div>
                        </div>
                        <ul class="cl-vnavigation">

                            <li class="active"><a href="~/Home/Index"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
                            <li class="parent">
                                <a href="#"><i class="fa fa-bug"></i><span>Category</span></a>
                                <ul class="sub-menu" style="display: none;">
                                    <li><a href="~/Phrase/CreateTopic">Add Category</a></li>
                                    <li><a href="~/Phrase/TopicList">View Category</a></li>

                                </ul>
                            </li>

                            <li class="parent">
                                <a href="#"><i class="fa fa-desktop"></i><span>Phrase</span></a>
                                <ul class="sub-menu" style="display: none;">
                                    <li><a href="~/Phrase/Index">Add Phrase</a></li>
                                    <li><a href="~/Phrase/PhraseList">View Phrase</a></li>

                                </ul>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="text-right collapse-button" style="padding:7px 9px;">
                    <input type="text" class="form-control search" placeholder="Search..." />
                    <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="pcont">
            @RenderBody()


        </div>

    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.select2/select2.min.js" type="text/javascript"></script>
    <script src="~/js/jquery.parsley/parsley.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.slider/js/bootstrap-slider.js" type="text/javascript"></script>
    <script src="~/js/modernizr.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery.nanoscroller/jquery.nanoscroller.js"></script>
    <script type="text/javascript" src="~/js/jquery.nestable/jquery.nestable.js"></script>
    <script type="text/javascript" src="~/js/behaviour/general.js"></script>
    <script src="~/js/jquery.ui/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/bootstrap.switch/bootstrap-switch.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.icheck/icheck.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
      //initialize the javascript
        App.init();
    });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/js/behaviour/voice-commands.js"></script>
    <script src="~/js/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
<!-- Mirrored from condorthemes.com/cleanzone/ by HTTrack Website Copier/3.x [XR&CO'2013], Sat, 04 Jan 2014 11:45:41 GMT -->
</html>
